.start-page{
    width: 100%;
    height: 1005;
    display: grid;
    place-items: center;
}

.start-page-btn {
    width: 35rem;
    height: 15rem;
    background: linear-gradient(120deg, #cc208e 0%, #6713d2 100%);
    border: none;
    border-radius: 1rem;
    font-family: "Exo 2", sans-serif;
    font-size: 7rem;
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: .1s ease;
}

.start-page-btn:active{
    transform: scale(0.98);
}